@{
    ViewData["Title"] = "LastochkasList";
}

<h2>LastochkasList</h2>
@Html.DropDownList("LastochkasList", "Select Lastochka")

@*<input type="button" value="Detail" onclick="location.href='@Url.Action("Detail", "Home")?id=' + $('#Id_Of_Textbox').val()" />*@


@*<input type="button" value="Посмотреть интерфейсы" onclick="window.location.href('@Url.Action("CMDtest","Home")?hostIP=' + "213.182.181.212"" />*@


<form action="CMDtest" method="post">
    <input type="hidden" name="hostIP" value="213.182.181.212" />
    <input type="submit" value="Посмотреть интерфейсы" />
</form>
