@{
    ViewData["Title"] = "LastochkasList";
}

<h2>LastochkasList</h2>

@using (Html.BeginForm("CMDTest", "Home"))
{
    <table>
        <tr>
            <td>
                @Html.DropDownList("selectedTrainID", (SelectList)ViewBag.LastochkasList)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="command" value="Show Interfaces" />
                <input type="submit" name="command" value="Show Home Folder" />
            </td>
        </tr>
    </table>
}